name: Build -> ACR -> AKS

on:
  push:
    branches: [ "main" ]

permissions:
  contents: read
  id-token: write

env:
  IMAGE_NAME: restaurantefrances

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Azure (Service Principal)
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set variables
        run: |
          echo "ACR_NAME=${{ secrets.ACR_NAME }}" >> $GITHUB_ENV
          echo "RG=${{ secrets.AZ_RESOURCE_GROUP }}" >> $GITHUB_ENV
          echo "AKS_NAME=${{ secrets.AKS_NAME }}" >> $GITHUB_ENV
          echo "IMAGE_TAG=${{ github.sha }}" >> $GITHUB_ENV
          echo "ACR_LOGIN_SERVER=${{ secrets.ACR_NAME }}.azurecr.io" >> $GITHUB_ENV

      - name: Build image in ACR
        run: |
          az acr build --registry $ACR_NAME --image $IMAGE_NAME:${IMAGE_TAG} .

  deploy-to-aks:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Azure (Service Principal)
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Get AKS credentials
        run: |
          az aks get-credentials --resource-group ${{ secrets.AZ_RESOURCE_GROUP }} --name ${{ secrets.AKS_NAME }} --overwrite-existing

      - name: Update K8s deployment image
        run: |
          kubectl set image deployment/restaurante-deployment restaurante=${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} --record

      - name: Verify rollout
        run: |
          kubectl rollout status deployment/restaurante-deployment --timeout=120s
          kubectl get pods -l app=restaurante -o wide
